{
    "env": {
        "PORT": 3000,
        "GITHUB_ID": "",
        "GITHUB_SECRET": "",
        "JWT_SECRET": "itsasecret",
        "DATABASE_URL": "sqlite:db.sqlite",
        "DATABASE_LOG": "true",
        "VOTE_CLOSED": "true",
        "VOTE_AVAILABLE": 600,
        "VOTE_EXPIRE": 3600
    }
}